$airplane-length: 200px;
$airplane-height: $airplane-length / 4;

$wing-flap-amount: 30deg;
$wing-flap-speed: 10;

$airplane-z-offset: 250px;

$airplane-circle-radius: 25vw;
$airplane-y-transition-delta: 75px;
$airplane-z-transition-delta: $airplane-circle-radius;

$airplane-x-rotate-delta: 45deg;
$airplane-y-rotate-delta: 90deg;
$airplane-z-rotate-delta: 20deg;

$scene-x-rotation: -10deg;
$scene-y-rotation: -10deg;

$perspective: 5000px;

$airplane-loop-duration: 8s;

$background-color: #083D77;

body {
  overflow: hidden;
  background: $background-color;
  font-size: 10px;
}

.scene {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: rotateX($scene-x-rotation) rotateY($scene-y-rotation);
  transform-style: preserve-3d;
}

.airplane-container {
  position: absolute;
  left: 50%;
  top: 50%;
  width: $airplane-length;
  height: $airplane-height;
  transform-style: preserve-3d;
  transform: perspective($perspective) translate3D(-50%, -50%, $airplane-z-offset);
}

.airplane-rotate-y {
  width: $airplane-length;
  height: $airplane-height;
  animation: $airplane-loop-duration rotate-y infinite linear;
  transform-style: preserve-3d;
  transform-origin: top center;
}

@keyframes rotate-y {
  from {
    transform: perspective($perspective) rotateY(0deg);
  }
  
  to {
    transform: perspective($perspective) rotateY(360deg);
  }
}

.airplane-rotate-z {
  width: $airplane-length;
  height: $airplane-height;
  animation: $airplane-loop-duration / 2 rotate-z infinite ease-in-out;
  transform-style: preserve-3d;
  transform-origin: top center;
}

@keyframes rotate-z {
  0%, 50%, 100% {
    animation-timing-function: ease-out;
    transform: perspective($perspective) rotateZ(0deg);
  }
  
  25% {
    animation-timing-function: ease-in;
    transform: perspective($perspective) rotateZ($airplane-z-rotate-delta);
  }
  
  75% {
    animation-timing-function: ease-in;
    transform: perspective($perspective) rotateZ(-$airplane-z-rotate-delta);
  } 
}

.airplane-translate-x {
  width: $airplane-length;
  height: $airplane-height;
  animation: $airplane-loop-duration / 2 translate-x infinite ease-in-out alternate;
  animation-delay: -$airplane-loop-duration / 4;
  transform-style: preserve-3d;
  transform-origin: top center;
}

@keyframes translate-x {
  from {
    transform: perspective($perspective) translateX(-$airplane-circle-radius);
  }
  
  to {
    transform: perspective($perspective) translateX($airplane-circle-radius);
  }
}

.airplane-translate-y {
  transform-style: preserve-3d;
  animation: $airplane-loop-duration / 4 translate-y infinite ease-in-out alternate;
}

@keyframes translate-y {
  from {
    transform: perspective($perspective)
               translateY(-$airplane-y-transition-delta);
  }
  
  to {
    transform: perspective($perspective)
               translateY($airplane-y-transition-delta);
  }
}

.airplane-translate-z {
  transform-style: preserve-3d;
  animation: $airplane-loop-duration / 2 translate-z infinite ease-in-out alternate;
}

@keyframes translate-z {
  from {
    transform: perspective($perspective)
               translateZ($airplane-z-transition-delta);
  }
  
  to {
    transform: perspective($perspective)
               translateZ(-$airplane-z-transition-delta);
  }
}

.part {
  position: absolute;
  background: transparent;
  transform-style: preserve-3d;
  transform-origin: top right;
  width: $airplane-length;
  height: $airplane-height;
  color: #FBFBFB;
}

.left-wing {
  transform: rotateX(-75deg);
  animation: $airplane-loop-duration / $wing-flap-speed flap-left infinite;
}

.right-wing {
  transform: rotateX(75deg);
  animation: $airplane-loop-duration / $wing-flap-speed flap-right infinite;
}

@keyframes flap-right {
  0%, 100% {
    animation-timing-function: ease-in;
    transform: perspective($perspective) rotateX(90deg - $wing-flap-amount);
  }
  
  25%, 75% {
    animation-timing-function: ease-out;
    transform: perspective($perspective) rotateX(90deg);
  }
  
  50% {
    animation-timing-function: ease-in;
    transform: perspective($perspective) rotateX(90deg + $wing-flap-amount);
  }
}

@keyframes flap-left {
  0%, 100% {
    animation-timing-function: ease-in;
    transform: perspective($perspective) rotateX(-90deg + $wing-flap-amount);
  }
  
  25%, 75% {
    animation-timing-function: ease-out;
    transform: perspective($perspective) rotateX(-90deg);
  }
  
  50% {
    animation-timing-function: ease-in;
    transform: perspective($perspective) rotateX(-90deg - $wing-flap-amount);
  }
}

@import 'https://fonts.googleapis.com/css?family=Raleway:100,400';

.social {
  width: 2rem;
  height: 2rem;
}